body
{
    background-color: rgb(27, 27, 27);
}

h1
{
    color: white;
    text-align: center;
    font-size: 78px;
}

h2
{
    color: white;
    margin-left: 10px;
    font-size: 48px;
}

p
{
    color: white;
    margin: 0 10px;
    font-size: 28px;
}

p.description
{
    font-size: 12px;
}

a
{
    text-decoration: none;
}

a.spacer
{
    margin: 10px;
}

.center
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box 
{
    border-radius: 20px;
    color: rgb(20, 20, 20);
    border: 2px dashed rgb(20, 20, 20); /* Specify the border width and color */
    width: max-content;
    max-width: 600px;
    padding: 10px; /* Add padding for spacing inside the box */
    word-wrap: break-word;
}

.aboutbox {
    border-radius: 20px;
    color: rgb(20, 20, 20);
    border: 2px dashed rgb(20, 20, 20); /* Specify the border width and color */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    padding: 10px; /* Add padding for spacing inside the box */
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: rgb(59, 59, 59);
}

li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    font-size: 30px;
}

li a:hover {
    background-color: rgb(32, 32, 32);
}

.active {
    background-color: rgb(46, 190, 190);
}
